body {
  margin: 0;
  background: #666;
}

#app {
  width: 100svi;
  height: 100svb;
}

@font-face {
  font-family: "FreckleFace";
  src: url("./assets/fonts/FreckleFace-Regular.ttf") format("truetype");
}

canvas {
  font-family: "FreckleFace";
}
